.AddProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddProduct form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 400px;
}
